<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>cloud music</title>
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= css %>
    <link rel="stylesheet" href="css/app.min.css">
</head>

<body class="theme-red">
    <div class="statusbar-overlay"></div>
    <div class="panel-overlay"></div>
    <div class="panel panel-left panel-reveal">
        <div class="content-block">
            左侧边
        </div>
    </div>
    <div class="views">
        <div class="view view-main">
            <div class="pages navbar-fixed">
                <div data-page="index" class="page">
                    <div class="navbar">
                        <div class="navbar-inner">
                            <div class="center sliding">主页</div>
                            <div class="right">
                                <a href="#" class="link icon-only open-panel"> <i class="icon icon-bars"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="page-content">
                        <div class="content-block">
                            <div class="row">
                                <div class="col-50"><a href="page/themes.html" class="button">选择主题颜色</a></div>
                                <div class="col-50"><a href="#" data-panel="left" class="button open-panel">打开左侧边</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="toolbar">
                <div class="toolbar-inner">
                    底部
                </div>
            </div>
        </div>
    </div>
</body>
<%= js %>
<script src="js/app.min.js"></script>
</html>
